<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotifuck</title>
    <link rel="stylesheet" href="/static/css/default.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="header">
        <h1>Spotifuck</h1>
        <button class="search" onclick="window.location.href = '/search?track='">rechercher une musique</button>
        <button class="settings" onclick="window.location.href = '/settings'">paramètres</button>
    </div>

    <div class="main">
        <button class="playlist" onclick="window.location.href = '/playlist'">playlist</button>
        <button onclick="window.location.href = '/upload'">publier</button>
    </div>
</body>
</html>