<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer un compte</title>
    <link rel="stylesheet" href="/static/css/default.css">
    <link rel="stylesheet" href="/static/css/form.css">
</head>
<body>
    <div>
        <form id="create">
            <h1>Créez votre compte</h1>
            <input type="text" placeholder="nom d'utilisateur" required autocomplete="off" id="username">
            <input type="password" placeholder="mot de passe" required autocomplete="off" id="pswd" minlength="8">
            <button id="sub" type="submit">s'inscrire</button>

            <a href="/login">se connecter</a>
            <p id="error"></p>
        </form>
    </div>
</body>
<script src="/static/script/signin.js"></script>
</html>